apiVersion: image.toolkit.fluxcd.io/v1
kind: ImagePolicy
metadata:
  name: gitops-test-app-policy
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: gitops-test-app-repo

  policy:
    alphabetical:
      order: asc

  filterTags:
    # Pattern to filter for tags starting with 'main'
    pattern: '^main-(?P<sha>[a-f0-9]+)'

    # We extract the entire match ($0) or the SHA group ($sha) for comparison
    extract: '$0'