apiVersion: image.toolkit.fluxcd.io/v1beta2
kind: ImagePolicy
metadata:
  name: gitops-test-app-policy
  namespace: flux-system
spec:
  imageRepositoryRef:
    name: gitops-test-app-repo

  # Now only contains the policy logic:
  policy:
    alphabetical:
      order: asc